<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Orange CSS -->
    <link rel="stylesheet" href="https://cdn.orangecss.com/1.4.1/css/orange.min.css">

    <title>Recipe Search Based on Ingredients</title>
    <meta name="description" content="Recipe Search based on ingredients" />
    <meta name="keywords" content="Recipe Search" />

    <!-- Tracking Code -->
  </head>
  <body>
    <div>
      <a class="color-gray-light"  href="mailto:marketing@askmonolith.com?Subject=Feedback%20For%20Ingredients%20I%20Have">Contact Us</a>
    </div>
    <div>
      <h1> Recipe Search based on your Ingredients </h1>
      <form method="POST" action="/search">
        <p>Enter the ingredients you have (use comma to separate ingredients): <input type="text" name="ingredients"><input type="submit"></p>
      </form>
    </div>
  </body>
</html>